main>.container {
    padding: 100px 15px 20px;
}

.footer {
    background-color: #ff5555;
    font-size: .9em;
    height: 60px;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: rgb(255, 47, 47);
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #0080ff;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #00478d;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav>li>form>button.logout:focus {
    outline: none;
}

.logo,
.card-title {
    font: 13pt sans-serif;
    text-align: center;
}

.container {
    margin: center;
}

.card-img-top {
    width: 340px;
    height: 340px;
}

.card {
    margin-top: -1px;
    margin-left:-7px;
    margin-bottom: 20px;
    width: 342px;
    height: 340px;
    transition: 0.5s;/* Время эффекта */
}

.card:hover {
    transform: scale(1.06);/* Увеличиваем масштаб */
}

button{
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 320px;
    height: 320px;
    transition: 0.5s;/* Время эффекта */
}
button:hover {
    transform: scale(1.06);/* Увеличиваем масштаб */
}