main > .container {
    padding: 7000000px 15px 20px;
}

.footer {
    background-color: #f00909;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: rgb(255, 47, 47);
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #0080ff;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #00478d;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.logo {
    font: 12pt;
    text-align: center;
}

.img {
    width: 300px;
    height: 300px;
    margin-top:30px;
    margin-bottom: 60px;

}

div#albom {
    position: relative;

}

.albom {
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    width: 300px;
    background: #a7a7a794;
    padding: 10px;
    text-align: center;
    font: 12pt;
}
